In [4]:
data = open('sample.txt').read().split('\n\n')

In [6]:
data = [x.split("\n")for x in data]
data

[['Monkey 0:',
  '  Starting items: 79, 98',
  '  Operation: new = old * 19',
  '  Test: divisible by 23',
  '    If true: throw to monkey 2',
  '    If false: throw to monkey 3'],
 ['Monkey 1:',
  '  Starting items: 54, 65, 75, 74',
  '  Operation: new = old + 6',
  '  Test: divisible by 19',
  '    If true: throw to monkey 2',
  '    If false: throw to monkey 0'],
 ['Monkey 2:',
  '  Starting items: 79, 60, 97',
  '  Operation: new = old * old',
  '  Test: divisible by 13',
  '    If true: throw to monkey 1',
  '    If false: throw to monkey 3'],
 ['Monkey 3:',
  '  Starting items: 74',
  '  Operation: new = old + 3',
  '  Test: divisible by 17',
  '    If true: throw to monkey 0',
  '    If false: throw to monkey 1']]

In [100]:
def monkey0():
    
    for item in monkeys[0]:
        new = item*19
        new = int(new/3)
        if new%23==0:
            monkeys[2].append(int(new))
        else:
            monkeys[3].append(int(new))
    monkeys[0]=[]
def monkey1():
    
    for item in monkeys[1]:
      
        new = item+6
        new = int(new/3)
        if new%19==0:
            monkeys[2].append(int(new))
        else:
            monkeys[0].append(int(new))
    monkeys[1]=[]
def monkey2():
    
    for item in monkeys[2]:
        new = item*item
        new = int(new/3)
        if new%13==0:
            monkeys[1].append(int(new))
        else:
            monkeys[3].append(int(new))
    monkeys[2]=[]
    
def monkey3():
    
    for item in monkeys[3]:
        new = item+3
        new = int(new/3)
        if new%17==0:
            monkeys[0].append(int(new))
        else:
            monkeys[1].append(int(new))
    monkeys[3]=[]

In [101]:
monkeys

[[10, 12, 14, 26, 34], [245, 93, 53, 199, 115], [], []]

In [102]:
monkey0()

In [103]:
monkeys

[[], [245, 93, 53, 199, 115], [], [63, 76, 88, 164, 215]]

In [104]:
monkey1()
monkeys

83
33
19
68
40

[[83, 33, 68, 40], [], [19], [63, 76, 88, 164, 215]]

In [105]:
monkey2()
monkeys
monkey3()
monkeys

[[83, 33, 68, 40], [22, 26, 30, 55, 72, 41], [], []]

In [106]:
monkeys = [[int(y) for y in x[1].split(":")[-1].strip().split(", ")] for x in data]

In [107]:
for i in range(20):
    monkey0()
    monkey1()
    monkey2()
    monkey3()
    print(1)
    print(monkeys)

20
23
27
26
1
[[20, 23, 27, 26], [2080, 25, 167, 207, 401, 1046], [], []]
695
10
57
71
135
350
1
[[695, 10, 71, 135, 350], [43, 49, 58, 55, 362], [], []]
16
18
21
20
122
1
[[16, 18, 21, 20, 122], [1468, 22, 150, 286, 739], [], []]
491
9
52
97
248
1
[[491, 9, 52, 97, 248, 34], [39, 45, 43, 258], [], []]
15
17
16
88
1
[[15, 17, 16, 88, 1037], [20, 110, 205, 524, 72], [], []]
8
38
70
176
26
1
[[8, 70, 176, 26, 34], [481, 32, 36, 186, 2190], [], []]
162
12
14
64
732
1
[[162, 12, 14, 64, 732, 17], [148, 372, 55, 72], [], []]
51
126
20
26
1
[[51, 126, 20, 26, 136], [343, 26, 30, 1546, 36], [], []]
116
10
12
517
14
1
[[116, 10, 12, 517, 14], [108, 267, 43, 55, 288], [], []]
38
91
16
20
98
1
[[91, 16, 20, 98], [481, 245, 22, 26, 1092, 30], [], []]
162
83
9
10
366
12
1
[[162, 83, 9, 10, 366, 12, 34], [193, 43, 207], [], []]
66
16
71
1
[[66, 16, 71], [343, 176, 20, 22, 773, 26, 72], [], []]
116
60
8
9
259
10
26
1
[[116, 60, 8, 9, 259, 10, 26, 34], [140, 150], [], []]
48
52
1
[[48, 52, 17], [245, 127, 20, 547, 22, 55, 72], [], []]
83
44
8
184
9
20
26
1
[[83, 44, 8, 184, 9, 20, 26, 102], [110, 36], [], []]
38
14
1
[[14, 17], [481, 176, 93, 389, 20, 43, 55, 216], [], []]
162
60
33
131
8
16
20
74
1
[[162, 60, 33, 131, 8, 16, 20, 74], [30, 36], [], []]
12
14
1
[[12, 14, 17, 34], [343, 127, 70, 277, 43, 157], [], []]
116
44
25
94
16
54
1
[[116, 44, 25, 94, 16, 54], [26, 30, 36, 72], [], []]
10
12
14
26
1
[[10, 12, 14, 26, 34], [245, 93, 53, 199, 115], [], []]